@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400&display=swap');

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 15px;
}

.name {
    font-size: 20px;
    text-align: center;
    font-family: "Podkova", sans-serif;
    color: #000000;

    white-space: nowrap;
    margin: 0 10px 0 0;
}

.input {
    width: 100%;
    height: 28px;
    padding: 0;
    margin: 0;

    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid #7e30e1;
    background-color: #7e30e1;
    accent-color: #7e30e1;

    color: #000000;
    font-size: 20px;
    font-family: "Podkova", sans-serif;
    margin-top: 2px;
}

.input:focus {
    border-color: #49108B;
    outline: none;
}

.number {
    min-width: 20px;
    width: 20px;
    text-align: end;

    color: #000000;
    background: #ffffff;
    font-size: 20px;
    font-family: "Podkova", sans-serif;

    padding: 0;
    margin: 0;
    margin-left: 10px;
}